.idea
*.autosave
_slidev\*.md
_slidev
**/tripleminus.py
software/c++/oop-concepten/klassen/04-07-rectangle/line.cpp
software/c++/oop-concepten/klassen/04-07-rectangle/line.hpp
software/c++/oop-concepten/klassen/04-07-rectangle/main.cpp
software/c++/oop-concepten/klassen/04-07-rectangle/Makefile
software/c++/oop-concepten/klassen/04-07-rectangle/rectangle.cpp
software/c++/oop-concepten/klassen/04-07-rectangle/rectangle.hpp
software/c++/oop-concepten/overerving/virtual-abstract.md
*.workspace
*.DS_Store
.vscode
package-lock.json
*.code-workspace